{% extends "main/base.html" %}

{% block app_content %}
    <h1>Reset Password</h1>
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" placeholder="Enter email" name="email" id="email" required>
          <div class="valid-feedback">Valid</div>
          <div class="invalid-feedback">Please fill out this field</div>
      </div>
      <button type="submit" class="btn btn-primary" name="submit" id="submit">Reset</button>
    </form>
{% endblock %}