{% extends "main/base.html" %}

{% block app_content %}
<div class="container-fluid">
  <h2>Basic Panel</h2>
  <div class="row">
  <div class="col-sm-3">.col-sm-3</div>
  <div class="col-sm-5">
    <div class="media border p-1">
    <img src="img_avatar3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:40px;">
    <div class="media-body">
      <h4>John Doe <small><i>@johndoe 4h</i></small></h4>
      <p>Hello World!</p>
    </div>
  </div>
      <div class="media border p-1">
    <img src="img_avatar2.png" alt="Alex Smith" class="mr-3 mt-3 rounded-circle" style="width:40px;">
    <div class="media-body">
      <h6>Alex Smith <small><i>@smithalex 1d</i></small></h6>
      <p><code>#include iostream.h;</code></p>
      <div class="media p-3">
      <img src="img_avatar2.png" alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:45px;">
      <div class="media-body">
        <h4>Panin <small><i>1 min</i></small></h4>
        <p>1488</p>
      </div>
    </div>
    </div>
  </div>
  </div>
  <div class="col-sm-3">.col-sm-3</div>
  </div>
</div>
{% endblock %}