{% extends "main/base.html" %}

{% block app_content %}
    {% if tips %}
        {% if hashtag %}
            <h2>Tips by HashTag {{ hashtag }}</h2>
        {% else %}
            <h2> Feed </h2>
        {% endif %}
        {% for tip in tips %}
            <div class="media border p-1">
            <img src="{{ tip.author.avatar(12) }}" class="ml-2 mr-3 mt-1 rounded-circle" style="width:50px;">
            <div class="media-body" onclick="location.href='{{ url_for('tips.get_tip_by_id', tip_id = tip.id) }}';" >
                <a href="{{ url_for('tips.get_tip_by_user_id', user_id=tip.user_id) }}"><h6>{{ tip.author.first_name }} {{ tip.author.last_name }}</h6></a>
                    <small><a href="{{  url_for('main.user', username=tip.author.username)  }}">
                        @{{ tip.author.username }}</a>
                        {{ moment(tip.timestamp).fromNow() }}
                    </small>
                </h6><br>
                <p2><code>{{ tip | urlize(40, true) }}</code></p2>
                {% if tip.hashtags %}
                    {% for hashtag in tip.hashtags %}
                        <a href="{{ url_for('tips.get_tips_by_hashtag', hashtag_id=hashtag.id) }}">{{ hashtag.tag }}</a>
                    {% endfor %}
                {% endif %}
                <div id="navigation" class="panel panel-default ">
                {% if tip.who_liked %}
                    <div class="row p-3">
                      <div class="col"><a href="{{  url_for('tips.like', tip_id=tip.id) }}" data-toggle="tooltip" title="Like"><i class="fa fa-heart fa-2x" id="iclike"></i></a>
                          <a href="{{  url_for('tips.who_liked', tip_id=tip.id) }}"><span class="badge badge-light">{{ tip.who_liked|length }}</span></a>
                      </div>
                      <div class="col"><div class="col"><a href="{{  url_for('tips.like', tip_id=tip.id) }}" data-toggle="tooltip" title="Comment"><i class="fa fa-comment-o fa-2x" id="iccomment"></i></a></div></div>
                      <div class="col"><a href="#" data-toggle="tooltip" title="Repost"><i class="fa fa-paper-plane-o fa-2x" id="icrepost"></i></a></div>
                      <div class="col"><a href="#" data-toggle="tooltip" title="Link"><i class="fa fa-bookmark-o fa-2x" id="iclink"></i></a></div>
                    </div>
                {% else %}
                    <a href="{{  url_for('tips.like', tip_id=tip.id) }}" data-toggle="tooltip" title="Like"><i class="fa fa-heart-o fa-2x"></i></a>
                {% endif %}
                </div>
            </div>
            </div>
        {% endfor %}
    {% endif %}
{#        #}
{#        <div class="panel panel-default col-md-7">#}
{#            <div id="tips">#}
{#                <h2>Did you know that</h2>#}
{#                <code>{{ tip }}</code>#}
{#                <br><small> <b> created by: </b> <img src="{{ tip.author.avatar(24) }}" alt="top"> <a href="{{  url_for('main.user', username=tip.author.username)  }}">{{  tip.author.username }}</a>#}
{#                <a href="{{  url_for('main.follow', username=tip.author.username)}}">{{ _('follow') }}</a> </small>#}
{#            </div>#}
{#            <div id="hashtags">#}
{#                {% if tip.hashtags %}#}
{#                    {% for hashtag in tip.hashtags %}#}
{#                        <a href="{{ url_for('tips.get_tips_by_hashtag', hashtag_id=hashtag.id) }}">{{ hashtag.tag }}</a>#}
{#                    {% endfor %}#}
{#                {% endif %}#}
{#            </div>#}
{#            <div id="navigation" class="panel panel-default col-md-4">#}
{#                <a href="{{  url_for('tips.edit_tip', tip_id=tip.id) }}" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil-square-o fa-1x"></i></a>#}
{#                {% if likes %}#}
{#                    <a href="{{  url_for('tips.like', tip_id=tip.id) }}" data-toggle="tooltip" title="Like"><i class="fa fa-heart fa-1x"></i></a>#}
{#                    <a href="{{  url_for('tips.who_liked', tip_id=tip.id) }}"><span class="badge badge-light">{{ likes|length }}</span></a>#}
{#                {%  else %}#}
{#                    <a href="{{  url_for('tips.like', tip_id=tip.id) }}" data-toggle="tooltip" title="Like"><i class="fa fa-heart-o fa-1x"></i></a>#}
{#                {% endif %}#}
{#                <a href="#" id="permalink" data-placement="top" title="{{  url_for('tips.get_tip_by_id', tip_id=tip.id,  _external=True) }}" onclick="copyToClipBoard()"><i class="fa fa-external-link fa-1x"></i></a>#}
{#                <a href="{{ url_for('tips.create_tip') }}" data-toggle="tooltip" title="Create New"><i class="fa fa-file fa-1x"></i></a>#}
{#                <a href="{{ url_for('tips.get_tip') }}" data-toggle="tooltip" title="Next"><i class="fa fa-arrow-circle-right fa-1x"></i></a>#}
{#            </div>#}
{#        </div>#}
{% endblock %}
