<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        {{ moment.include_moment() }}
        {{ moment.lang(g.locale) }}

        <script src="{{url_for('static', filename='main.js')}}"></script>
        <script src="{{url_for('static', filename='autocomplete.js')}}"></script>

    </head>
        {% include 'main/notification.html' %}
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
          <ul class="navbar-nav">
            {% if current_user.is_anonymous %}
            <li class="nav-item ml-auto">
                <a href="{{ url_for('auth.login') }}"><span class="fa fa-user fa-1x"></span></a>
            </li>
            {% else %}
            <li class="nav-item px-1">
                <a href="{{ url_for('main.user', username=current_user.username) }}">{{ current_user.username }}</a>
            </li>
            <li class="nav-item px-1">
                <a href="{{ url_for('auth.logout') }}"><span class="fa fa-sign-out fa-1x"></span></a>
            </li>
            {% endif %}
            <li class="nav-item px-1">
                <a href="{{ url_for('main.index') }}"><span class="fa fa-home fa-1x"></span></a>
            </li>
           </ul>
           <ul class="navbar-nav ml-auto">
             <form class="form-inline" method="get" action="{{ url_for('tips.search') }}">
               <input type="text" name="pattern" class="form-control-sm mb-1 mr-sm-1" placeholder="{{ _('Search') }}" id="search">
               <button type="submit" class="btn btn-primary mb-1">
                 <i class="fa fa-search"></i>
               </button>
            </form>
            <li class="nav-item px-1">
                <a href="{{ url_for('main.language', lang='ru') }}">
                    {{ _('ru') }}

                </a>
            </li>
            <li class="nav-item px-1">
                <a href="{{ url_for('main.language', lang='en') }}">
                    {{ _('us') }}
                </a>
            </li>
           </ul>
        </nav>
        <hr>
        {% block content %}
{#            <div class="jumbotron text-center" style="background-image: url(https://lh5.googleusercontent.com/proxy/QwWJULzZg1CQZXmwqNtiEJd-6PcQ879cTYGJ1TWGJe0lbYTkOQL_sfzjVRc20qQDKhkyVZo21mQ27s08agyD); background-size: 20%;">#}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
{#    <h1>Pytips - short python tips every day</h1>#}
  </div>
</div>
            <div class="container-fluid">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                  <div class="row">
                    <div class="col-sm-3">
                        {% if not current_user.is_anonymous %}
                        <div class="container-fluid text-center">
                          <ul class="nav flex-column fixed-left" style="position: fixed; left: 8%;">
                            <h2 >{{ current_user.first_name }} {{ current_user.last_name }}</h2><h5>@{{ current_user.username }}</h5>
                            <li class="nav-item">
                              <a class="nav-link" href="{{ url_for('main.user', username=current_user.username) }}"><i class="fa fa fa-user fa-2x p-2"></i>My profile</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{{ url_for('messages.messages') }}"><i class="fa fa-file-text fa-2x p-2"></i>Messages</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#"><i class="fa fa-gear fa-2x p-2"></i>Settings</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#"><i class="fa fa-camera-retro fa-2x p-2"></i>Followers</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#"><i class="fa fa-heart fa-2x p-2"></i>Following</a>
                            </li>
                            <li class="nav-item">
                              <a href="{{ url_for('tips.create_tip') }}" class="btn btn-primary" style="border-radius: 12px;">{{ _('Make Post') }}</a>
                            </li>
                          </ul>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-sm-4">{% block app_content %}{% endblock %}</div>
                    <div class="col-sm-3">todo: ads panel</div>
                  </div>
            </div>
        {% endblock %}
        </body>

{% include 'main/footer.html' %}
</html>