<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        {{ moment.include_moment() }}
        {{ moment.lang(g.locale) }}

        <script src="{{url_for('static', filename='main.js')}}"></script>
        <script src="{{url_for('static', filename='autocomplete.js')}}"></script>
{#        {% block title %}#}
{#            {% if title %}{{ title }} - Pytips{% else %}Welcome to Pytips{% endif %}#}
{#        {% endblock %}#}
    </head>
        {% include 'main/notification.html' %}
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
          <ul class="navbar-nav">
            {% if current_user.is_anonymous %}
            <li class="nav-item ml-auto">
                <a href="{{ url_for('auth.login') }}"><span class="fa fa-user fa-1x"></span></a>
            </li>
            {% else %}
            <li class="nav-item px-1">
                <a href="{{ url_for('main.user', username=current_user.username) }}">{{ current_user.username }}</a>
            </li>
            <li class="nav-item px-1">
                <a href="{{ url_for('auth.logout') }}"><span class="fa fa-sign-out fa-1x"></span></a>
            </li>
            {% endif %}
            <li class="nav-item px-1">
                <a href="{{ url_for('main.index') }}"><span class="fa fa-home fa-1x"></span></a>
            </li>
           </ul>
           <ul class="navbar-nav ml-auto">
             <form class="form-inline" method="get" action="{{ url_for('main.search') }}">
               <input type="text" name="pattern" class="form-control-sm mb-1 mr-sm-1" placeholder="{{ _('Search') }}" id="search">
               <button type="submit" class="btn btn-primary mb-1">
                 <i class="fa fa-search"></i>
               </button>
            </form>
            <li class="nav-item px-1">
                <a href="{{ url_for('main.language', lang='ru') }}">
                    {{ _('ru') }}
                </a>
            </li>
            <li class="nav-item px-1">
                <a href="{{ url_for('main.language', lang='en') }}">
                    {{ _('us') }}
                </a>
            </li>
           </ul>
        </nav>
        <hr>
        {% block content %}
            <div class="jumbotron text-center">
                <h1>Pytips - super duper site</h1>
                <p>New tips every day</p>
            </div>
            <div class="container">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                {% block app_content %}{% endblock %}
            </div>
        {% endblock %}
</html>