<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        {{ moment.include_moment() }}
        {{ moment.lang(g.locale) }}

        <script src="{{url_for('static', filename='main.js')}}"></script>
        <script src="{{url_for('static', filename='autocomplete.js')}}"></script>
        {% block title %}
            {% if title %}{{ title }} - Pytips{% else %}Welcome to Pytips{% endif %}
        {% endblock %}
    </head>
        {% include 'main/notification.html' %}
        <div class="container">
            <nav class="navbar navbar-default">
                    <div class="nav navbar-nav">
                        {% if current_user.is_anonymous %}
                        <a href="{{ url_for('auth.login') }}"><span class="fa fa-user fa-2x"></span></a>
                        {% else %}
                        <a href="{{ url_for('main.user', username=current_user.username) }}">{{ current_user.username }}</a>
                        <a href="{{ url_for('auth.logout') }}"><span class="fa fa-sign-out fa-2x"></span></a>
                        {% endif %}
                        <a href="{{ url_for('main.index') }}"><span class="fa fa-home fa-2x"></span></a>
                        <a href="{{ url_for('main.language', lang='ru') }}">{{ _('ru') }}</a>
                        <a href="{{ url_for('main.language', lang='en') }}">{{ _('en') }}</a>
                    </div>
            </nav>
        </div>
        <hr>
        {% block content %}
            <div class="jumbotron text-center">
                <h1>Pytips - super duper site</h1>
                <p>New tips every day</p>
            </div>
            <div class="container">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                {% block app_content %}{% endblock %}
            </div>
        {% endblock %}
</html>