{% extends 'main/base.html' %}

{% block app_content %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#inbox">{{ _('Inbox') }}</a></li>
        <li><a data-toggle="tab" href="#sent">{{ _('Sent') }}</a></li>
    </ul>
    <div class="tab-content">
        <div id="inbox" class="tab-pane fade in active">
          <h3>{{ _('Inbox') }}</h3>
             {% for msg in inbox %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <small>{{ _('from:') }} <b> {{ msg.author.username }}</b></small>
                        <p>{{ _('text:') }} </p>
                        {% if msg.status == 1 %}
                            <p> {{ _('you read this message') }}</p>
                            {{  msg.body }}
                        {% else %}
                            <p> {{ _('unread message') }}</p>
                            <b>{{  msg.body }}</b>
                        {% endif %}
                        <p>{{ _('when:') }} {{ moment(msg.timestamp).format('LLL') }}</p>
                        <a href="{{ url_for('main.delete', msg_id = msg.id ) }}"><span class="glyphicon glyphicon-trash"></span></a>
                        {%  if msg.status == 1 %}
                            <a href="{{ url_for('main.mark_as', msg_id = msg.id, status = 0) }}">{{ _('mark as unread') }}</a>
                        {% else %}
                            <a href="{{ url_for('main.mark_as', msg_id = msg.id, status = 1) }}">{{ _('mark as read') }}</a>
                        {% endif %}
                        <a href="{{ url_for('main.reply', msg_id = msg.id, recipient_id = msg.sender_id) }}">{{ _('reply') }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="sent" class="tab-pane fade">
          <h3>{{ _('Sent') }}</h3>
            {% for msg in sent %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <small>{{ _('from:') }} <b> {{ msg.author.username }}</b></small>
                        <p>{{ _('text:') }} </p>
                        {% if msg.status == 1 %}
                            <p> {{ _('user read the message') }}</p>
                            {{  msg.body }}
                        {% else %}
                            <p> {{ _('unread message') }}</p>
                            <b>{{  msg.body }}</b>
                        {% endif %}
                        <p>{{ _('when:') }} {{ moment(msg.timestamp).format('LLL') }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}