{% extends "main/base.html" %}

{% block app_content %}
    {% if user != current_user %}
        <p>
            <a href="{{ url_for('messages.send_message',
                                recipient=user.username) }}">
                {{ _('Send private message') }}
            </a>
        </p>
    {% endif %}
    <h1>{{ _('User:') }} {{ user.username }}</h1>
    <img src="{{ user.avatar(128) }}" alt="top">
    <h2>{{ _('First Name:') }} {{ user.first_name }}</h2>
    <h2>{{ _('Last Name:') }} {{ user.last_name }}</h2>
    <h2>{{ _('About:') }} {{ user.about_me }}</h2>
    <p>{{ _('Last seen on:') }} {{ moment(user.last_seen).format('LLL') }}</p>
    {% if user == current_user %}
    <p>{{ _('Subscriptions:') }}</p>
        <ul>
            <li>{{ _('News') }}
                <a href="{{ url_for('subscriptions.subscribe', type = 'news' ) }}">subscribe</a></li>
            <li>{{ _('Updates from following') }}
                <a href="{{ url_for('subscriptions.subscribe', type = 'followed' ) }}">subscribe</a></li>
            <li>{{ _('Comments') }}
                <a href="{{ url_for('subscriptions.subscribe', type = 'comments' ) }}">subscribe</a></li>
            <li>{{ _('Private messages') }}
                <a href="{{ url_for('subscriptions.subscribe', type = 'messages' ) }}">subscribe</a></li>
            <li>{{ _('Likes') }}
                <a href="{{ url_for('subscriptions.subscribe', type = 'likes' ) }}">subscribe</a></li>
        </ul>
    <p>{{ _('Posts:') }} {{ tips | length }}</p>
        <ul>
            {% for tip in tips %}
                <li>{{ tip.body }}<a href="{{ url_for('tips.delete_tip', tip_id = tip.id ) }}"><i class="fa fa-trash-o fa-1x"></i></a></li>
            {% endfor %}
        </ul>
    <p>{{ _('Following:') }}</p>
        <ul>
            {% for follow in user.followed %}
                <li>{{ follow.username }}</li>
            {% endfor %}
        </ul>
    <p>{{ _('Followers:') }}</p>
        <ul>
            {% for follower in user.followers %}
                <li>{{ follower.username }}</li>
            {% endfor %}
        </ul>
    {% if current_user.role.permissions == 255 %}
        <p>{{ _('On moderation:') }}</p>
        <ul>
            {% for moderate in moderation %}
                <li>{{ moderate.body }}</li><a href="{{ url_for('tips.moderate_tip', tip_id=moderate.id) }}">{{ _('Approve') }}</a>
            {% endfor %}
        </ul>
    {%  endif %}
    <p><a href="{{ url_for('messages.messages') }}">{{ _('My messages ') }}<span class="badge badge-light">{{ unread|length }}</span></a></p>
    <p><a href="{{ url_for('main.edit_profile') }}">{{ _('Edit your profile') }}</a></p>
    {% endif %}
    <hr>
{% endblock %}