{% extends "main/base.html" %}

{% block app_content %}
    {% if user == current_user %}
    <h1>{{ _('User:') }} {{ user.username }}</h1>
    <h2>{{ _('About:') }} {{ user.about_me }}</h2>
    <p>{{ _('Last seen on:') }} {{ moment(user.last_seen).format('LLL') }}</p>
    <p>{{ _('Posts:') }} {{ tips | length }}</p>
        <ul>
            {% for tip in tips %}
                <li>{{ tip.body }}</li>
            {% endfor %}
        </ul>
    <p>{{ _('Following:') }}</p>
        <ul>
            {% for follow in user.followed %}
                <li>{{ follow.username }}</li>
            {% endfor %}
        </ul>
    <p>{{ _('Followers:') }}</p>
        <ul>
            {% for follower in user.followers %}
                <li>{{ follower.username }}</li>
            {% endfor %}
        </ul>
    <p><a href="{{ url_for('main.edit_profile') }}">{{ _('Edit your profile') }}</a></p>
    {% endif %}
    <hr>
{% endblock %}