{% extends 'main/base.html' %}

{% block app_content %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#inbox">{{ _('Inbox ') }}<span class="badge badge-light">{{ unread|length }}</span></a>
        <li><a data-toggle="tab" href="#sent">{{ _('Sent') }}<span class="badge badge-light">{{ sent|length }}</span></a></li>
    </ul>
    <a href="{{ url_for('messages.new_message') }}">{{ _('New Message') }}</a>
    <div class="tab-content">
        <div id="inbox" class="tab-pane fade in active">
          <h3>{{ _('Inbox') }}</h3>
             {% for msg in inbox %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <small>{{ _('when:') }} {{ moment(msg.timestamp).format('LLL') }}</small><br>
                        <small>{{ _('from:') }}  {{ msg.author.username }}</small><br>
                        <br>
                        {% if msg.status == 1 %}
                            {{  msg.body }}
                        {% else %}
                            <b>{{  msg.body }}</b>
                        {% endif %}
                        <br>
                        <a href="{{ url_for('messages.delete', msg_id = msg.id ) }}"><span class="fa fa-trash-o fa-1x"></span></a>
                        {%  if msg.status == 1 %}
                            <a href="{{ url_for('messages.mark_as', msg_id = msg.id, status = 0) }}">{{ _('mark as unread') }}</a>
                        {% else %}
                            <a href="{{ url_for('messages.mark_as', msg_id = msg.id, status = 1) }}">{{ _('mark as read') }}</a>
                        {% endif %}
                        <a href="{{ url_for('messages.reply', msg_id = msg.id, recipient_id = msg.sender_id) }}">{{ _('reply') }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="sent" class="tab-pane fade">
          <h3>{{ _('Sent') }}</h3>
            {% for msg in sent %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <small>{{ _('when:') }} {{ moment(msg.timestamp).format('LLL') }}</small><br>
                        <small>{{ _('from:') }}  {{ msg.author.username }}</small><br>
                        <br>
                        {% if msg.status == 1 %}
                            {{  msg.body }}
                        {% else %}
                            <b>{{  msg.body }}</b>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}