{% extends 'main/base.html' %}

{% block app_content %}
    <div class="col-md-4">
        <form action="" method="post">
          {{ form.hidden_tag() }}
          <div class="form-group">
            <label for="user">{{ _('Username') }}:</label>
            <input type="text" class="form-control" placeholder="{{ _('Username') }}" name="user" id="user" value="" required>
            <label for="message">{{ _('Message') }}:</label>
            <textarea class="form-control" rows="5" type="text" placeholder="{{ _('Type your message') }}" name="message" id="message" required>
            </textarea>
          </div>
          <button type="submit" class="btn btn-primary" name="submit" id="submit">{{ _('Sent') }}</button>
        </form>
    </div>
{% endblock %}